page-home {
    .ionitem {
        background-color: $background-color;
        color: $font-color;
        .item {
            margin: 0 auto;
            text-align: center;
        }
        img {
            border: 1px solid;
            border-color: #000000;
            height: 150px;
            margin-bottom: 15px;
        }
        .titulo {
            margin-bottom: 15px;
        }
    }
}