page-home {
    .toolbar-title-md {
        background-color: #c9302c;
        color: #ffffff;
        height: 140px
    }
    .header {
        background-color: #c9302c;
    }
    .content {
        background-color: #c9302c;
    }
    .butt {
        color: #c9302c;
        background-color: #fff;
    }
    .ionitem {
        background-color: #c9302c;
        color: #ffffff;
        .item {
            margin: 0 auto;
            text-align: center;
        }
        img {
            border: 1px solid;
            border-color: #000000;
            height: 150px;
            margin-bottom: 15px;
        }
        .titulo {
            margin-bottom: 15px;
        }
    }
}